*.idr.tex
cover-letter.pdf
paper.*.synctex.gz
presentation*.pdf
*draft.pdf
*blind.*.pdf
*camera.pdf
*preprint.pdf
*submission.pdf
*.fdb_latexmk
*.fls
*.acn
*.ist
*.upa
*.upb
auto/
sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.nav
*.snm
*.vrb
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*.vtc
*~
*.bcf
*.run.xml
*.loc
*.soc
